/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here. */
/*  @ Styles from this file will override 'vendors.scss' and Helpers's base styles. */
/* ----------------------------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Kantumruy+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', 'Kantumruy Pro', sans-serif, cursive !important;
    font-size: 1rem;
    font-weight: 400;
}

body {
    touch-action: manipulation !important;
}

.custom-border {
    border: 1px solid #102D71 !important;
}

.text-moul {
    font-family: 'Poppins', 'Moul', serif !important;
}

.custom-mat-dialog-as-mat-drawer,
.custom-mat-dialog-full,
.mat-dialog-switch-role {
    .mat-mdc-dialog-surface.mdc-dialog__surface {
        border-radius: 0 !important;
        padding: 0 !important;
    }

    .mat-mdc-dialog-content.mdc-dialog__content {
        padding: 0 !important;
    }
}

.custom-mat-dialog-full .mat-mdc-dialog-surface {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

// remove the round corner of every dialog
.custom-dialog-container .mdc-dialog__surface {
    border-radius: 0 !important;
    box-shadow: none !important;
}
